@media (max-width: 996px) {
  .inner-about-grid {
    grid-template-columns: 1fr;
  }

  .inner-image-grid {
    margin: 0 auto;
  }
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 600px) {
  .root {
    width: 100%;
  }
}

@media (max-width: 601px) {
  .o {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .o {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sideStyle {
    display: none;
  }
  .paragraph-wrapper p {
    max-width: 100%;
  }
}
